// colors
$white: #ffffff;
$black: #232323;
$black2: #252c30;
$grey: #f4f4f4;
$grey2: #f1eee6;
$dark-blue: #2d3e50;
$dark-blue2: #263544;
$color-accent: #ffc000;
$color-accent-dark: #aa8000;
$toggleMobileMenu: #cec5c5;
$navMobile-bg: #1e2935;

//numbers

// fonts
$primary-font: 'Proxima Nova Alt Rg', 'Helvetica Neue', Helvetica, Arial,
  'sans-serif';
$secondary-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
